html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* !Code start!*/

html,
body {
  box-sizing: border-box;
}

body {
  background-image: url("logo.svg"), url("background.png");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font: bold;
  overflow-x: hidden;
}
.MBtext {
  color: white;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  flex: 1;
  margin: auto;
}
.text-masterbots {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 20px auto;
  background-color: #2b5288;
  width: fit-content;
  padding: 10px;
}
main {
  max-width: 1000px;
  margin: 100px auto 50px auto;
  padding: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

main h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #d32f2f;
}

main p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}
.text-p {
  background: #2b5288;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  font-family: "Consolas";
  font-weight: bold;
  margin: 20px auto;
  width: fit-content;
  border-radius: 10px;
  border: 2px solid white;
}
.text-p:hover {
  background-color: #7d7d7d;
}
.div-parent {
  text-align: center;
}
.text-index {
  display: inline-block;
  width: 400px;
  height: auto;
  vertical-align: top;
  border-radius: 10px;
}
.text {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 80px auto 20px auto;
  background-color: #2b5288;
  width: fit-content;
  padding: 10px;
}
p {
  background: #2b5288;
  color: black;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 20px 30px;

  padding: 10px;
}
/*Masterbots text */
.MBtext {
  color: white;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
}
.Theader {
  color: black;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  max-width: 1;
}
/* Style the header with a grey background and some padding */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b5288;
  padding: 0 10px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
}

.header.hidden {
  transform: translateY(-100%);
}

.header.visible {
  transform: translateY(0);
}

/* Hamburger menu button */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding: 10px;
}

/* Style the header links */
.header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 10px;
}

/* Style the logo link */
.header img.logo {
  width: 100px;
  height: auto;
  padding: 8px 10px;
}
.header img.logo:hover {
  background-color: #2b5288;
}
/* Change the background color on mouse-over */
.header a.aheader:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #7d7d7d;
  color: white;
}

/* Float the link section to the right */
.Theader {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Style the footer */
footer {
  background-color: #2b5288;

  text-align: center;

  border-radius: 10px 10px 0 0;

  width: 100%;
  padding-bottom: 10px;
  height: fit-content;
}
.sfooter p {
  text-align: center;
}
.sfooter button {
  background-color: transparent;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  margin: 10px 0px;
}
.sfooter button img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
/* Style the footer */
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px;
  }
  .header img.logo {
    width: 60px;
    height: auto;
    padding: 5px;
  }
  .MBtext {
    font-size: 30px;
    margin: auto 5px;
  }
  .hamburger {
    display: block;
    align-self: flex-end;
  }
  .Theader {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #2b5288;
  }
  .Theader.open {
    display: flex;
  }
  .header a {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  main {
    margin: 20px auto;
    padding: 10px;
  }
  main h1 {
    font-size: 2em;
  }
  main p {
    font-size: 1em;
  }
}
